<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <section>
      <article>
        <p style="font-weight: bold; font-size: large;">K-Drama:</p>
        <p>প্রাপ্তি তো K-Drama এর বিশাল ভক্ত। Lee Min-ho, Song Joong-ki এর পরম ভক্ত সে। এদের K-Drama গুলো তার বিশেষত
          প্রিয়। তাছাড়া অন্যান্য K-Drama গুলোও তার পছন্দ। সে পছন্দ করে Happy Ending। পাগল মেয়েটা আগে খোঁজ নেয় যে Sad
          Ending আছে কিনা, থাকলে উঁহুঁ! একদম দেখবে না সে। Sad Ending থাকলে খুব কষ্ট হয় তার, তাই এমনটি করে সে।
        </p>
        <p>কিন্তু একটা K-Drama যার Sad Ending অনেক কষ্টদায়ক হওয়া সত্ত্বেও সে পুরোটা দেখেছিলো। আর তা হলো: Scarlet Heart
          Ryeo।
        </p>
      </article>

      <br></br>

      <article style="margin-bottom: 15px;">
        <p style="font-weight: bold; font-size: large;">গান:</p>
        <p>প্রাপ্তি বিভিন্ন ধরনের গান শুনতে পছন্দ করে খুব। তবে “শ্রেয়া ঘোষাল” এর সব গান তার অত্যন্ত প্রিয়। আর BTS এর কথা
          বাদ দিই কী করে?! BTS এর গানগুলো তার অতীব প্রিয়। বড় ভক্ত যে সে BTS এর। বিশেষ করে <span
            style="font-weight: bold;">“Idol”</span> গানটা। এসব গান ছাড়াও
          তার একটা অতি পছন্দের গান আছে যার কথা বিশেষভাবে উল্লেখ না করলেই নয়। তা হলো:</p>
      </article>

      <article>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">Unstoppable:</span> এ গানটি খুবই প্রিয়
          প্রাপ্তির। প্রায়ই যখন পড়া-শুনা, বিভিন্ন কাজ অথবা জীবনের কঠিন বাস্তবতার সম্মুখীন হয়ে তার মন ক্লান্ত, বিষণ্ন হয়ে
          যায় তখন সে গানটি শুনে আর মনে জোর পায়, নতুন উদ্যমে আবার কাজ শুরু করে। এ গানের কথাগুলো সত্যি খুব দারুণ। আমি এখন
          এগুলো লিখছি আর গানটি শুনছি।
        </p>

        <data style="display: flex; justify-content: center;">
          <video width="460" height="340" controls
            poster="https://firebasestorage.googleapis.com/v0/b/love-u-my-missy-always.appspot.com/o/About%20Missy%2FVideos%2FUnstoppable-Poster.png?alt=media&token=059b776b-841c-4057-9667-b050c1ef10a1">
            <source
              src="https://firebasestorage.googleapis.com/v0/b/love-u-my-missy-always.appspot.com/o/About%20Missy%2FVideos%2FUnstoppable.mp4?alt=media&token=55a41231-a3e7-40a5-945b-bc12c95cc320"
              type="video/mp4">
            </source>
          </video>
        </data>
      </article>

      <br></br>
    </section>
  </div>

</body>

</html>