<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <section>
      <article>
        ব্যক্তিগত জীবনে প্রাপ্তি খুব সাদা-মাটা জীবন-যাপন করে বটে কিন্তু তার স্বপ্ন আর তা বাস্তবায়নে তার প্রচেষ্টা
        অসাধারণ। এখানে আমি শুধু তার সাধারণ বিষয়গুলো উল্লেখ করছি, অসাধারণ বিষয়গুলো পরবর্তী অংশে উল্লেখ করবো “অনন্য,
        অপ্রতিরোধ্য প্রাপ্তি” এ নামে।
      </article>

      <br></br>

      <article>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(১)</span> “চকোলেট” তার অসম্ভব প্রিয়। তবে
          “ডার্ক চকোলেট” নয়। আঙ্কেল আগে যখন বিদেশে ছিলেন তখন সবসময় তিনি আসার সময় প্রাপ্তি আর ভাষণের জন্যে ব্যাগ ভর্তি
          করে “চকোলেট” নিয়ে আসতেন।
        </p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(২)</span> ক্ষুধা নিয়ে বেশিক্ষণ থাকতে পারে না
          সে। যথাসময়ে না খেলে “মা কালী” এর সবচেয়ে কম রাগী রূপটি ধারণ করে। এখানে একটা emoji দিতে ইচ্ছে করছে হাসিতে ফেটে
          পড়ার কারণ আমি এটা এখন লিখছি আর আমার দশা তাই হচ্ছে। থাক! দিলাম না। প্রাপ্তি দেখলে বকা দিবে আমাকে, “অ্যাই চোপ”
          বলে।</p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৩)</span> মাঝে মাঝে খুব চাপে থাকলে, মন বিষণ্ন
          থাকলে কোনো বেলার খাওয়া তাকে বাদ দিতে দেখেছি। তাকে এভাবে খাওয়া বাদ দিতে দেখলে আমার খুব খারাপ লাগতো। তাই প্রায়ই
          জিজ্ঞেস করতাম, “খাওয়া skip করো নি তো আজকে?”</p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৪)</span> পোলাওয়ের সাথে “Vegetable Curry”
          বিশেষ পছন্দ প্রাপ্তির। আন্টি এ পদ খুব মজাদার করে বানান। </p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৫)</span> “নাচ” তার অসম্ভব প্রিয়। সেইসাথে “ছবি
          আঁকা”, “রঙ করা” – সে তো একদম দক্ষ এগুলোতে। আমি এ “Website” এর Gallery Page এ কয়েকটা ছবি দিয়েছি যেগুলো আমার
          কাছে অবশিষ্ট ছিলো।</p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৬)</span> শাড়ী পরতে তার একদমই ভালো লাগে না। সে
          যথাসম্ভব এড়িয়ে চলে।</p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৭)</span> কালো রঙের পোশাক তার প্রিয়, আমাকে
          বলেছিলো।</p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৮)</span> BTS এর বিশাল ভক্ত প্রাপ্তি। বিশেষ
          করে V কে খুব পছন্দ করে সে।</p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৯)</span> K-Drama এর অনেক বড় ভক্ত আমার Missy।
        </p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(১০)</span> আমার মতোই অলস সে। আমরা দুজনই “Home
          Sweet Home” টাইপের মানুষ। বাসায় থাকতেই পছন্দ করি বেশি আমরা। বাইরে গেলেও পরে বাসায় ফিরে আসার জন্যে ব্যস্ত হয়ে
          যাই দুজনেই।</p>
      </article>
    </section>
  </div>
</body>

</html>