<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <section>
      <article>
        উপরের অংশে উল্লেখ করলাম প্রাপ্তির সাধারণ বৈশিষ্ট্যগুলো। এবার লিখবো তার চরিত্রের অসাধারণ দিকগুলো। তার এসব অনন্য
        গুণাবলী নিয়ে যখনই ভাবতে থাকি, আমার মন কীরকমই যেনো খুশীতে ভরে ওঠে। এ কারণে যে এরকম এক মেয়েকে এতো কাছ থেকে দেখার,
        এতো কাছ থেকে জানার সুযোগ এসেছিলো। আমি নিজেকে অনেক ভাগ্যবান অনুভব করি তার সাথে আমার দেখা হয়েছিলো। এই মেয়েটিকে কবে
        যে এতো বেশি ভালোবেসে ফেলেছি আমি নিজেও জানি না। থাক সে কথা। আসল কথায় আসি এবার।
      </article>

      <br></br>

      <article>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(১)</span> তার দেশের বাড়ির মানুষজন প্রাপ্তির
          নিজের পরিবারের সাথে বিভিন্ন অন্যায় আচরণ করেছে নানা সময়ে এবং এখনো করে মাঝে মাঝে। প্রাপ্তি অনেক বড় হয়ে অনেক
          ক্ষমতা অর্জন করতে চায়। না, ওদের দেখানোর জন্যে নয়। তার মা ও বাবার সম্মান বৃদ্ধির জন্যে। সে তার মা-বাবার মর্যাদা
          সবার থেকে উপরে করে তুলে ধরতে চায়। এরকম দৃঢ়-প্রত্যয়ী মেয়ে আমার Missy।
        </p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(২)</span> সে বড় হয়ে তার দিদার জন্যে অনেক কিছু
          করতে চায়। যেনো তিনি যথাযথ সুন্দর একটা জীবন পান যা তাঁর প্রাপ্য। প্রাপ্তি এরকম একটা সুন্দর জীবন তার দিদাকে
          উপহার দিতে চায়।
        </p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৩)</span> প্রাপ্তির খুব সুন্দর একটা দিক আছে
          যেটা আমার খুব ভালো লাগে। সে মেয়েদের শক্তিশালী, আত্ম-বিশ্বাসী হওয়া দেখতে চায়। কিন্তু সে তথা-কথিত নারীবাদীদের
          মতো সুবিধেবাদী, গিরগিটির মতো রঙ-বদলকারীদের মতো সংকীর্ণ চিন্তা ধারণ করে না। সে সত্যিকার অর্থেই মেয়েদেরকে
          দায়িত্বশীল, বিভিন্ন বড় বড় কাজে যথাযথ যোগ্যতা অর্জন করা, অসম্ভব ও জটিল কাজগুলোকে সম্পন্ন করার মতো শক্তি অর্জন
          করা দেখতে চায়। তার চিন্তা-ভাবনায় কখনো কোনো সংকীর্ণতা আমি দেখি নি। আমি মুগ্ধ হয়ে বারবার তাকে দেখতাম এসব কারণে।
        </p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৪)</span> প্রাপ্তির সবচেয়ে সুন্দর দিক যে কারণে
          তাকে আমি এতো বেশি ভালোবাসি, সেটা হলো: তার হীরার চেয়েও মূল্যবান ও সুন্দর হৃদয়। যে কেউই তার সাহায্য কামণা করুক,
          সে তার সবটা দিয়ে সাহায্য করার চেষ্টা করে। অনেকে আছে যারা তার সাথে অতীতে খারাপ আচরণ করেছে, তা সত্ত্বেও তারা যখন
          তার কাছে বিভিন্ন সময়ে সাহায্য চেয়েছে, প্রাপ্তি তাদের কাউকে ফিরিয়ে দেয় নি। অন্তত আমি দেখি নি। তাকে আমি দেখেছি
          ওদেরকে যথাসম্ভব সাহায্য করতে। অনেক সময় এরকমও দেখেছি আমি যে সে নিজের কাজ ফেলে তাদের জন্যে করতে। এই হলো আমার
          Missy।
        </p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৫)</span> প্রাপ্তির আরেকটা দিক যেটা আমি তাকে
          পড়াতে পড়াতে জেনেছি, যেটা আমার কাছে খুব ভালো লেগেছে: সে কোনো একটা বিষয় নিয়ে যখন পড়ে তখন পড়ার জন্যে পড়ে,
          সত্যিকার অর্থে পড়ে। অন্যান্য মানুষেরা যাদের কাছে পড়াশুনা করার উদ্দেশ্য হলো ভালো নম্বর পাওয়া, ওদের মতো নয় সে।
          সে পড়ে প্রকৃত অর্থে। এ দিক দিয়ে সে অনন্য।
        </p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৬)</span> প্রাপ্তি একটা বিষয়কে চরমভাবে অপছন্দ
          করে। তা হলো: “গালি-গালাজ” করা। অপছন্দ করা বললে কম বলা হবে, বরং বলা উচিৎ সে প্রচন্ডরূপে ঘৃণা করে “গালি-গালাজ”
          বিষয়টাকে। সে আমাকে একটা কথা বলেছিলো, “পড়া-শুনা করেও যদি মানুষ গালি দেয় তাহলে পড়া-শুনা করার দরকারই বা কী
          ছিলো?”- কথাটি স্পষ্ট মনে আছে আমার। একদম খাঁটি সত্য কথা।
        </p>
        <p style="margin-bottom: 15px;"><span style="font-weight: bold;">(৭)</span> প্রাপ্তি আমাকে বারবার ক্ষমা করে
          দিয়েছে যদিও আমি বারবার, হাজারবার তাকে কষ্ট দিয়েছি, দুঃখ দিয়েছি। আমি তাকে কথার মাধ্যমে, আমার আচরণ দ্বারা বারবার
          আঘাত করা সত্ত্বেও সে আমাকে বারবার বুঝাতো, কীসে আমার ভালো, কীসে আমার মন্দ। যদিও আমি তার ক্ষমা পাওয়ার অযোগ্য তা
          সত্ত্বেও সে আমাকে ক্ষমা করেছে প্রতিবার। কিন্তু আমি তার মর্যাদা দিতে পারি নি, বরং বারবার তার সাথে দুর্ব্যবহার
          করেছি।
        </p>
      </article>
    </section>
  </div>
</body>

</html>